.cardTicketSpinner {
  margin-top: 30px;
}

.showTicketButton {
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #2196F3;
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #0477D1;
  }
}
